@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Red+Hat+Display:wght@300&display=swap');





body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 100;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:70px;
    border-radius: 15px;
    align-items: center;
    shadow: 2px 7px 12px -3px rgba(0,0,0,0.53);
    -webkit-box-shadow: 2px 7px 12px -3px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 7px 12px -3px rgba(0,0,0,0.53);
}

header img{
    width: 70px;
    height: 50px;
}

header h3{
    font-size: 25px;
    font-family:'Red Hat Display', sans-serif;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
   font-weight: 300;
}

.isi{
    overflow: auto;
    margin-top: 20px;
    width: auto;
    height: 350px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-left: 5px;
    transition: transform 0.5s ease;
}




.isi .card{
   background-image: url(Asset/pexels-pixabay-358636.jpg);
   background-size: cover;
   margin-left: 3px;
    width: 97%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-direction: column;
    margin-right: 20px;
    flex-shrink: 0;
    
}

.isi::-webkit-scrollbar{
    display: none;
}

.card button{
    margin-bottom: 25px;
    margin-left: 30px;
    border: 1px solid white;
    background-color: transparent;
    padding: 8px;
    border-radius: 15px;
    color: white;
    width: 150px;
    font-size: 15px;
    font-family:'Red Hat Display', sans-serif;;
}

.card p{
    font-size: 28px;
    font-weight: 200;
    color: white;
    width: 200px;
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 30px;
}

.card video{
   object-fit: contain;
   width: 360px;
   margin-bottom: -42px;
   border-radius: 15px;
}

#food{
    background-image: url(Asset/burgera.jpg)

}

.card h5{
    margin-bottom: -1px;
    font-size: 28px;
    font-weight: 200;
    font-family: 'Red Hat Display', sans-serif;
}

#videobaner{
    background-image: none;
}


#photo{

    background-position-y: center;
}

#photo p{
    width: 300px;
    margin-bottom: 100px;
}

#photo button{
    background-color: rgba(0,0,0,0.53);
    width: 120px;
}

.pilihan{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-top: -20px;
}

.pilihan img{
    width: 100px;
    border-radius: 10px;
    margin-left: -2px;
    margin-top: -1px;
    
}

.pil{
    width: 97%;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-left: 8px;
    overflow: hidden;
    align-items: center;
}

.pil h3{
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 45px;
    font-weight: 100;
    color: white;
    width: 100%;
    margin-top: 63px;
    padding-bottom: 15px;
    background: linear-gradient(0deg, rgba(0,0,0,0.8939950980392157) 32%, rgba(255,255,255,0) 100%);
}

#pkost{
    background-image: url(Asset/kost.jpg);
    background-position-y:center ;
    background-size: cover;
}

#pfood{
    background-image: url(Asset/kentang.jpg);
    background-position-y: center ;
    background-size: cover;
    filter:contrast(110%)
}

#pfoto{
    background-image: url(Asset/photos.jpg);
    background-position-y:center ;
    background-size: cover;
}

#vid{
}

#ayam{
    width: 50px;
    height: 50px;
    margin-top: 60px;
    background: linear-gradient(0deg, rgba(0,0,0,0.8939950980392157) 32%, rgba(255,255,255,0) 100%);
    padding-bottom: 60px;
    padding-right: 10px;
}

.setting{
    flex-direction: column;
    background-color: white;
    width: 300px;
    height: 650px;
    position: fixed;
    left: 100%;
    margin-top: 80px;
    border-radius: 20px;
    transition: transform 0.3s;
}

.setting h2{
    margin-left: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.setting h3{
    margin-left: 10px;
    border-bottom: 1px solid black;
    font-family:'Red Hat Display', sans-serif;
    cursor: pointer;
    font-weight: 300;
}

.setting h4{
    margin-top: 330px;
    margin-left: 10px;
    font-family: 'Red Hat Display', sans-serif;;
    font-weight: 300;
}

#keluar{
    display: none;
    width: 40px;
    height: 30px;
    margin-right: 15px;
}





